<section id="footer" class="section footer dark">
  <div class="container padding-right">
    <div class="row d-flex m-5 justify-content-center">
      <div class="col-lg-4" data-aos="fade-up">
        <img src="{{ footer.logo.img }}" class="ing-fluid d-block w-100 rounded-5" alt="{{ footer.logo.title}}">
      </div>
    </div> 
    <div class="row d-flex pt-5 mt-5 justify-content-center "> 
      <div class="col-lg-6 text-center" data-aos="fade-up">
        <p class="lh-2 fs-4">{{ base.address.street }} <br>
        {{ base.address.zip}}&nbsp;&nbsp;{{ base.address.city}}<br> <br>
        <a class="fs-4 link-dark" href="{{ base.address.gps.url }}" target="_blank" alt="Zobraziť na mape"> 
                 {{ base.address.gps.att}}</a><br>
        </p>
      </div>
    </div>
  </div>
</section>