<section id="{{nav.restaurant}}" class="section padding-left dark">
  <div class="container-fluid">
    <div class="container">
     <img src="{{ restaurant.image}}" class="d-block rounded-5 left-sided" alt="{{ restaurant.title}}">
      <div class="row d-flex">   
        <div class="col-lg-5" data-aos="fade-up">
          <h2 class="headline"> {{ restaurant.title|whitespace|raw}}</h2>
          <h3 class="headline"> "{{ restaurant.intro|whitespace|raw}}"</h3>
          <p class="desc fs-3 lh-base">{{ restaurant.desc|whitespace|raw}} </p>
        </div>
        <div class="col-lg-6" data-aos="fade-up">
        </div>
      </div>
    </div>  
  </div>
</section><!-- @restaurant end -->