<section id="{{nav.around}}" class="section padding-right">
  <div class="container mt-3">
    <div class="row d-flex">   
      <div class="col-lg-12" data-aos="fade-up">
        <h2 class="headline text-center"> {{ surrounding.title|whitespace|raw}}</h2>
        <p class="desc fs-3 lh-base text-center">{{ surrounding.desc|whitespace|raw}} </p>
      </div>
    </div>
    <div id="carouselAround" class="carousel slide pt-5 mt-5">
      <div class="carousel-inner">
        {% for event in surrounding.events %}
        <div class="carousel-item {% if loop.first %} active {% endif %} ">
          <div class="row d-flex justify-content-between"> 
            <div class="col-md-6">
              <img src="{{ event.image}}" class="d-block w-100 rounded-5" alt="{{ event.title}}">
            </div>
            <div class="col-md-5">
              <h3 class="f-gold">{{ event.title|whitespace|raw}}</h3>
              <p class="fs-5 pt-2 d-flex align-items-center">{{ event.icon|whitespace|raw}}</p>
              <p class="fs-5 pt-2">{{ event.desc|whitespace|raw}}</p>
            </div> 
          </div> 
        </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselAround" data-bs-slide="prev">
       <span class="material-symbols-outlined">chevron_backward</span><span class="material-symbols-outlined">arrow_back</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselAround" data-bs-slide="next">
       <span class="material-symbols-outlined">arrow_forward</span><span class="material-symbols-outlined">chevron_forward</span>
      </button>
    </div>
  </div> 
</section><!-- @around end -->